<div class="product-container">
<img class="product-image" (click)="click()" src="{{Items.url}} " />
  
    <strong>{{Items.name}}</strong>
    <strong>{{Items.price |currency}}</strong>
    <select class="select-input" #qty [ngModel]="Items.qty" (ngModelChange)="(qty.value)" [value]="Items.qty">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>
    <button class="btn btn-primary" (click)="add()">Add to Cart</button>
</div>